.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.cell-16 {
  border-width:1px;
  height:40px;
  left:309px;
  line-height:40px;
  text-align:center;
  top:362px;
  width:100px;
}
.pg-form {
  height:226px;
  left:128px;
  top:121px;
  width:365px;
}
.pg-select {
  height:32px;
  left:54px;
  top:43px;
  width:200px;
}
.pg-select-17 {
  height:32px;
  left:54px;
  top:97px;
  width:200px;
}
.pg-select-18 {
  height:32px;
  left:54px;
  top:148px;
  width:200px;
}