.iu-center-box {
  width:960px;
}
.edu_supports {
  min-width:960px;
}
.Header {
  background-color:#F7F7F7;
  color:#333333;
  height:228px;
  min-width:960px;
  position:relative;
  width:100%;
}
.CenterBox_7 {
  background-color:#FFFFFF;
  background-position:center center;
  background-size:100% 100%;
  color:#000000;
}
.CenterBox_7.iux-hover, .CenterBox_7.iux-active {
  color:#000000;
}
.box-925 {
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:196px;
  width:734px;
}
.Text_50 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  margin-left:12px;
  margin-top:0px;
  position:relative;
  width:82px;
}
.Text_47 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:80px;
}
.Text_22 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_23 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:132px;
}
.Text_24 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:68px;
}
.Text_26 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_27 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:88px;
}
.Text_28 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:846px;
  top:54px;
  width:44px;
}
.Text_28.iux-hover, .Text_28.iux-active {
  color:#EF8721;
}
.Text_242 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:892px;
  top:54px;
  width:8px;
}
.Text_241 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:904px;
  top:54px;
  width:49px;
}
.Text_241.iux-hover, .Text_241.iux-active {
  color:#EF8721;
}
.FloatingImage {
  background-image:url('/resource/project/dlab_logo.png');
  background-position:center center;
  background-size:contain;
  height:102px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:66px;
  width:276px;
}
.HTML_300 {
  height:94px;
  left:71px;
  top:530px;
  width:100px;
}
.Box_301 {
  background-color:#EF8721;
  background-position:center;
  height:38px;
  left:0px;
  top:0px;
  width:100%;
}
.text-447 {
  color:#FFFFFF;
  height:24px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:7px;
  width:549px;
}
.Image_302 {
  background-image:url('/resource/project/text_label_ani_k.gif');
  height:38px;
  left:619px;
  top:0px;
  width:76px;
}
.PageContent {
  background-color:#F7F7F7;
}
.Section {
  height:1700px;
}
.CenterBox {
  background-color:#FFFFFF;
}
.Text_68 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:47px;
  text-align:left;
  top:13px;
  width:442px;
}
.Text_69 {
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:30px;
  left:471px;
  text-align:right;
  top:49px;
  width:439px;
}
.Text_36 {
  color:#3E3E3E;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:400;
  height:103px;
  left:51px;
  line-height:1.70;
  top:186px;
  width:861px;
}
.Text_37 {
  color:#EF8721;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  font-weight:700;
  height:64px;
  left:50px;
  top:116px;
  width:861px;
}
.Box {
  border-color:#BCBCBC;
  border-width:1px;
  height:240px;
  left:49px;
  top:294px;
  width:860px;
}
.Box_83 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:48px;
  width:500px;
}
.Box_80 {
  background-color:#DBDBDB;
  height:194px;
  left:465px;
  top:48px;
  width:1px;
}
.Box_81 {
  background-color:#DBDBDB;
  height:45px;
  left:635px;
  top:196px;
  width:1px;
}
.Box_82 {
  background-color:#DBDBDB;
  height:45px;
  left:725px;
  top:196px;
  width:1px;
}
.Box_72 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:92px;
  width:500px;
}
.Box_73 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:152px;
  width:500px;
}
.Box_74 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:196px;
  width:500px;
}
.Text_75 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  left:374px;
  top:13px;
  width:480px;
}
.Text_81 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:61px;
  width:95px;
}
.Text_83 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:112px;
  width:95px;
}
.Text_85 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:165px;
  width:95px;
}
.Text_87 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:208px;
  width:95px;
}
.Text_82 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:61px;
  width:381px;
}
.Text_84 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:43px;
  left:474px;
  text-align:left;
  top:102px;
  width:383px;
}
.Text_86 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:165px;
  width:381px;
}
.Text_88 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:208px;
  width:136px;
}
.Text_89 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:734px;
  text-align:left;
  top:208px;
  width:121px;
}
.Text_90 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:645px;
  text-align:center;
  top:208px;
  width:72px;
}
.Image {
  background-image:url('/resource/project/scratch_for_arduino.jpg');
  background-size:cover;
  height:240px;
  left:0px;
  top:0px;
  width:360px;
}
.Box_126 {
  border-color:#BCBCBC;
  border-width:1px;
  height:240px;
  left:49px;
  top:564px;
  width:860px;
}
.Box_127 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:48px;
  width:500px;
}
.Box_133 {
  background-color:#DBDBDB;
  height:194px;
  left:465px;
  top:48px;
  width:1px;
}
.Box_134 {
  background-color:#DBDBDB;
  height:45px;
  left:635px;
  top:196px;
  width:1px;
}
.Box_135 {
  background-color:#DBDBDB;
  height:45px;
  left:725px;
  top:196px;
  width:1px;
}
.Box_136 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:108px;
  width:500px;
}
.Box_137 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:152px;
  width:500px;
}
.Box_138 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:196px;
  width:500px;
}
.WebMovie_126 {
  height:240px;
  left:0px;
  top:0px;
  width:360px;
}
.Text_126 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  left:374px;
  top:13px;
  width:480px;
}
.Text_131 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:68px;
  width:95px;
}
.Text_132 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:120px;
  width:95px;
}
.Text_133 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:165px;
  width:95px;
}
.Text_138 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:208px;
  width:95px;
}
.Text_139 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:46px;
  left:473px;
  text-align:left;
  top:58px;
  width:381px;
}
.Text_140 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:120px;
  width:381px;
}
.Text_141 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:165px;
  width:381px;
}
.Text_142 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:208px;
  width:136px;
}
.Text_143 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:734px;
  text-align:left;
  top:208px;
  width:121px;
}
.Text_144 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:645px;
  text-align:center;
  top:208px;
  width:72px;
}
.Box_157 {
  border-color:#BCBCBC;
  border-width:1px;
  height:240px;
  left:49px;
  top:834px;
  width:860px;
}
.Box_158 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:48px;
  width:500px;
}
.Box_164 {
  background-color:#DBDBDB;
  height:194px;
  left:465px;
  top:48px;
  width:1px;
}
.Box_165 {
  background-color:#DBDBDB;
  height:45px;
  left:635px;
  top:196px;
  width:1px;
}
.Box_166 {
  background-color:#DBDBDB;
  height:45px;
  left:725px;
  top:196px;
  width:1px;
}
.Box_167 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:108px;
  width:500px;
}
.Box_168 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:152px;
  width:500px;
}
.Box_169 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:196px;
  width:500px;
}
.WebMovie {
  height:240px;
  left:0px;
  top:0px;
  width:360px;
}
.Text_157 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  left:374px;
  top:13px;
  width:480px;
}
.Text_162 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:68px;
  width:95px;
}
.Text_163 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:120px;
  width:95px;
}
.Text_164 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:165px;
  width:95px;
}
.Text_168 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:208px;
  width:95px;
}
.Text_169 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:46px;
  left:474px;
  text-align:left;
  top:58px;
  width:381px;
}
.Text_170 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:120px;
  width:381px;
}
.Text_171 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:165px;
  width:381px;
}
.Text_172 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:208px;
  width:136px;
}
.Text_173 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:734px;
  text-align:left;
  top:208px;
  width:121px;
}
.Text_174 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:645px;
  text-align:center;
  top:208px;
  width:72px;
}
.Box_189 {
  border-color:#BCBCBC;
  border-width:1px;
  height:240px;
  left:49px;
  top:1104px;
  width:860px;
}
.Box_190 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:48px;
  width:500px;
}
.Box_196 {
  background-color:#DBDBDB;
  height:194px;
  left:465px;
  top:48px;
  width:1px;
}
.Box_197 {
  background-color:#DBDBDB;
  height:45px;
  left:635px;
  top:196px;
  width:1px;
}
.Box_198 {
  background-color:#DBDBDB;
  height:45px;
  left:725px;
  top:196px;
  width:1px;
}
.Box_199 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:108px;
  width:500px;
}
.Box_200 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:152px;
  width:500px;
}
.Box_201 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:196px;
  width:500px;
}
.WebMovie_189 {
  height:240px;
  left:0px;
  top:0px;
  width:360px;
}
.Text_189 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  left:374px;
  top:13px;
  width:480px;
}
.Text_194 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:68px;
  width:95px;
}
.Text_195 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:120px;
  width:95px;
}
.Text_196 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:165px;
  width:95px;
}
.Text_200 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:208px;
  width:95px;
}
.Text_201 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:46px;
  left:474px;
  text-align:left;
  top:58px;
  width:381px;
}
.Text_202 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:120px;
  width:381px;
}
.Text_203 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:165px;
  width:381px;
}
.Text_204 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:208px;
  width:136px;
}
.Text_205 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:734px;
  text-align:left;
  top:208px;
  width:121px;
}
.Text_206 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:645px;
  text-align:center;
  top:208px;
  width:72px;
}
.Box_221 {
  border-color:#BCBCBC;
  border-width:1px;
  height:240px;
  left:49px;
  top:1374px;
  width:860px;
}
.Box_222 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:48px;
  width:500px;
}
.Box_228 {
  background-color:#DBDBDB;
  height:194px;
  left:465px;
  top:48px;
  width:1px;
}
.Box_229 {
  background-color:#DBDBDB;
  height:45px;
  left:635px;
  top:196px;
  width:1px;
}
.Box_230 {
  background-color:#DBDBDB;
  height:45px;
  left:725px;
  top:196px;
  width:1px;
}
.Box_231 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:92px;
  width:500px;
}
.Box_232 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:152px;
  width:500px;
}
.Box_233 {
  background-color:#DBDBDB;
  height:1px;
  left:360px;
  top:196px;
  width:500px;
}
.Text_221 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  left:374px;
  top:13px;
  width:480px;
}
.Text_226 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:61px;
  width:95px;
}
.Text_227 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:112px;
  width:95px;
}
.Text_228 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:165px;
  width:95px;
}
.Text_232 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:365px;
  text-align:center;
  top:208px;
  width:95px;
}
.Text_233 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:23px;
  left:474px;
  text-align:left;
  top:61px;
  width:381px;
}
.Text_234 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:45px;
  left:474px;
  text-align:left;
  top:102px;
  width:381px;
}
.Text_235 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:165px;
  width:381px;
}
.Text_236 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:474px;
  text-align:left;
  top:208px;
  width:136px;
}
.Text_237 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:26px;
  left:734px;
  text-align:left;
  top:208px;
  width:121px;
}
.Text_238 {
  color:#585858;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:26px;
  left:645px;
  text-align:center;
  top:208px;
  width:72px;
}
.Image_221 {
  background-image:url('/resource/project/Hacker_Enzo_resized.jpg');
  background-size:cover;
  height:240px;
  left:0px;
  top:0px;
  width:360px;
}
.Section_77 {
  display:none;
  height:720px;
}
.FloatingImage_78 {
  height:100px;
  left:173px;
  top:55px;
  width:100px;
}
.Text_79 {
  height:60px;
  left:145px;
  top:172px;
  width:180px;
}
.FloatingImage_81 {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:opacity 0.0s;
  background-image:url('/resource/project/hp_main_starter.jpg');
  height:493px;
  left:50px;
  opacity:1;
  top:123px;
  transform:scaleX(1.0) scaleY(1.0);
  transition:opacity 0.0s;
  width:280px;
}
.FloatingImage_81.iux-hover, .FloatingImage_81.iux-active {
  -ms-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  opacity:0.70;
  transform:scaleX(1.0) scaleY(1.0);
}
.FloatingImage_82 {
  -webkit-transition:opacity 0.0s;
  background-image:url('/resource/project/hp_main_creator.jpg');
  height:493px;
  left:340px;
  opacity:1;
  top:123px;
  transition:opacity 0.0s;
  width:280px;
}
.FloatingImage_82.iux-hover, .FloatingImage_82.iux-active {
  opacity:0.70;
}
.FloatingImage_83.iux-hover, .FloatingImage_83.iux-active {
  opacity:0.70;
}
.FloatingImage_83 {
  -webkit-transition:opacity 0.0s;
  background-image:url('/resource/project/hp_main_maker.jpg');
  height:493px;
  left:630px;
  opacity:1;
  top:123px;
  transition:opacity 0.0s;
  width:280px;
}
.Footer {
  background-color:#F7F7F7;
  height:274px;
  position:relative;
  width:100%;
}
.CenterBox_27 {
  background-color:#242424;
}
.Text {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:71px;
  width:85px;
}
.Text_52 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:147px;
  width:85px;
}
.Text_53 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:109px;
  width:85px;
}
.Text_54 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:301px;
  top:29px;
  width:154px;
}
.Text_55 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:71px;
  width:154px;
}
.Text_56 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:54px;
  top:229px;
  width:512px;
}
.Text_57 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:147px;
  width:154px;
}
.Text_58 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:109px;
  width:154px;
}
.Text_59 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:73px;
  top:29px;
  width:154px;
}
.Text_60 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:71px;
  width:85px;
}
.Text_61 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:147px;
  width:85px;
}
.Text_62 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:109px;
  width:85px;
}
.Box_63 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:211px;
  width:858px;
}
.Box_64 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:178px;
  width:223px;
}
.Box_65 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:140px;
  width:223px;
}
.Box_66 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:102px;
  width:223px;
}
.Box_67 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:64px;
  width:223px;
}
.Box_68 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:178px;
  width:223px;
}
.Box_69 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:140px;
  width:223px;
}
.Box_70 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:102px;
  width:223px;
}
.Box_71 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:64px;
  width:223px;
}
.FloatingImage_72 {
  background-image:url('/resource/project/hp_footer_icon_facebook.png');
  height:100px;
  left:701px;
  top:31px;
  width:100px;
}
.FloatingImage_73 {
  background-image:url('/resource/project/hp_footer_icon_youtube.png');
  height:100px;
  left:811px;
  top:31px;
  width:100px;
}