.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.Header {
  background-color:#F7F7F7;
  color:#333333;
  height:228px;
  min-width:960px;
  position:relative;
  width:100%;
}
.PageContent {
  background-color:#F7F7F7;
}
.Section_82 {
  background-position:center top;
  background-repeat:repeat;
  background-size:contain;
  border-width:0px;
  height:88px;
}
.Box_140 {
  background-image:url('/static/resource/project/hp_aboutus_menu_bg_1.jpg');
  height:88px;
  left:0px;
  top:0px;
  width:960px;
}
.Text_140 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:26px;
  left:120px;
  text-align:left;
  top:36px;
  width:132px;
}
.Text_140.iux-hover, .Text_140.iux-active {
  color:#EF8721;
}
.Text_31 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:28px;
  left:331px;
  top:36px;
  width:160px;
}
.Text_31.iux-hover, .Text_31.iux-active {
  color:#EF8721;
}
.Text_32 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:29px;
  left:532px;
  top:36px;
  width:160px;
}
.Text_32.iux-hover, .Text_32.iux-active {
  color:#EF8721;
}
.Text_33 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:26px;
  left:743px;
  text-align:left;
  top:36px;
  width:160px;
}
.Section {
  background-position:center center;
  background-size:cover;
  border-width:0px;
  height:323px;
  opacity:1;
}
.CenterBox_16 {
  background-color:#F3A6B4;
}
.FloatingImage_135 {
  background-image:url('/static/resource/project/dl_home_courses_main_maker_2.png');
  background-size:cover;
  height:323px;
  left:0px;
  top:0px;
  width:960px;
}
.Section_21 {
  border-width:0px;
  height:62px;
  margin-left:0px;
  overflow:hidden;
}
.CenterBox_21 {
  background-color:#FFFFFF;
  border-width:0px;
}
.Text_133 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:25px;
  left:50px;
  top:19px;
  width:101px;
}
.Text_134 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:25px;
  left:200px;
  top:19px;
  width:203px;
}
.Cell_142 {
  background-color:#FAE100;
  border-radius:6px;
  color:#3C1E1E;
  font-size:14px;
  font-weight:700;
  height:30px;
  left:540px;
  text-align:center;
  top:16px;
  width:100px;
}
.Cell_142 > a {
  line-height:30px;
}
.Cell {
  background-color:#79093B;
  border-radius:6px;
  color:#FFFFFF;
  font-size:14px;
  height:30px;
  left:652px;
  text-align:center;
  top:16px;
  width:156px;
}
.Cell > a {
  line-height:30px;
}
.cell-156 {
  background-color:#79093B;
  border-radius:6px;
  color:#FFFFFF;
  font-size:14px;
  height:30px;
  left:820px;
  text-align:center;
  top:16px;
  width:88px;
}
.cell-156 > a {
  line-height:30px;
}
.Section_23 {
  height:500px;
}
.CenterBox_23 {
  background-color:#FFFFFF;
  border-top-color:#F7F7F7;
  border-top-width:5px;
}
.Text_68 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.Text_147 {
  color:#EF8721;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  font-weight:700;
  height:36px;
  left:50px;
  top:172px;
  width:478px;
}
.Text_131 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:46px;
  left:50px;
  top:135px;
  width:434px;
}
.Text_148 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:243px;
  left:52px;
  top:216px;
  width:430px;
}
.FloatingImage_124 {
  background-image:url('/static/resource/project/maker_concept_image_P6170653_staff.jpg');
  background-position:top;
  background-size:cover;
  border-radius:0px;
  height:256px;
  left:516px;
  top:145px;
  width:393px;
}
.Section_53 {
  height:440px;
}
.CenterBox {
  background-color:#EDEDED;
}
.Box_57 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  height:225px;
  left:631px;
  top:109px;
  width:276px;
}
.Box_124 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_127 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_128 {
  color:#FFFFFF;
  height:24px;
  left:11px;
  top:4px;
  width:239px;
}
.Box_127 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  height:225px;
  left:341px;
  top:110px;
  width:276px;
}
.Box_128 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_69 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:9px;
  width:256px;
}
.Text_70 {
  color:#FFFFFF;
  height:24px;
  left:10px;
  top:3px;
  width:256px;
}
.Box_125 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  height:225px;
  left:51px;
  top:109px;
  width:276px;
}
.Box_126 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_64 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:175px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_65 {
  color:#FFFFFF;
  height:24px;
  left:9px;
  top:4px;
  width:240px;
}
.Text_135 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:434px;
}
.Section_25 {
  height:440px;
}
.CenterBox_25 {
  background-color:#FFFFFF;
}
.Box {
  height:335px;
  left:35px;
  top:83px;
  width:208px;
}
.FloatingImage_37 {
  background-image:url('/static/resource/project/hp_img_design_thinking.png');
  background-size:100% 100%;
  height:168px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:10px;
  width:168px;
}
.Text_172 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:51px;
  left:27px;
  line-height:1.40;
  text-align:left;
  top:183px;
  width:192px;
}
.Text_173 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:87px;
  left:27px;
  top:230px;
  width:176px;
}
.Box_130 {
  height:335px;
  left:261px;
  top:81px;
  width:208px;
}
.FloatingImage_146 {
  background-image:url('/static/resource/project/hp_img_mobile_app.png');
  background-size:100% 100%;
  height:164px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:12px;
  width:164px;
}
.Text_174 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:29px;
  text-align:left;
  top:185px;
  width:183px;
}
.Text_175 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:105px;
  left:29px;
  top:219px;
  width:176px;
}
.Box_134 {
  height:335px;
  left:492px;
  top:81px;
  width:208px;
}
.FloatingImage_38 {
  background-image:url('/static/resource/project/hp_img_Raspberry_Pi.png');
  background-size:100% 100%;
  height:167px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:10px;
  width:167px;
}
.Text_176 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:26px;
  text-align:left;
  top:185px;
  width:182px;
}
.Text_177 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:68px;
  left:26px;
  top:210px;
  width:176px;
}
.Box_135 {
  height:335px;
  left:717px;
  top:82px;
  width:208px;
}
.FloatingImage_42 {
  background-image:url('/static/resource/project/hp_img_collabo.png');
  background-size:100% 100%;
  height:167px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:9px;
  width:167px;
}
.Text_178 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:27px;
  text-align:left;
  top:185px;
  width:182px;
}
.Text_179 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:96px;
  left:27px;
  top:210px;
  width:176px;
}
.Text_136 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:241px;
}
.Section_78 {
  height:500px;
}
.CenterBox_80 {
  background-color:#EDEDED;
}
.Text_149 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:434px;
}
.Text_78 {
  border-bottom-width:2px;
  border-color:#616161;
  border-style:dotted;
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:94px;
  left:516px;
  top:99px;
  width:392px;
}
.Text_82 {
  border-bottom-width:2px;
  border-color:#616161;
  border-style:dotted;
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:43px;
  left:516px;
  top:210px;
  width:392px;
}
.Text_83 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:213px;
  left:516px;
  top:274px;
  width:392px;
}
.FloatingImage_131 {
  background-image:url('/static/resource/project/maker_concept_2014_12_21.jpg');
  background-size:cover;
  height:286px;
  left:51px;
  top:99px;
  width:433px;
}
.Section_45 {
  height:1890px;
}
.CenterBox_45 {
  background-color:#FFFFFF;
}
.text-155 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.tabview {
  height:1760px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:140px;
  width:960px;
}
.tab-header {
  font-size:14px;
  height:230px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-header-item {
  float:left;
  height:240px;
  margin-left:30px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image {
  background-image:url('/static/resource/project/dca_courses_icons_DM1_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-136 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item {
  display:none;
}
.floating-image-156 {
  background-image:url('/static/resource/project/dca_courses_icons_DM1_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-140 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-item-129 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-157 {
  background-image:url('/static/resource/project/dca_courses_icons_DM2_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-137 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-139 {
  display:none;
}
.floating-image-158 {
  background-image:url('/static/resource/project/dca_courses_icons_DM2_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-141 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-item-142 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-159 {
  background-image:url('/static/resource/project/dca_courses_icons_DM3_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-145 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-144 {
  display:none;
}
.floating-image-160 {
  background-image:url('/static/resource/project/dca_courses_icons_DM3_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-146 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-item-149 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-161 {
  background-image:url('/static/resource/project/dca_courses_icons_DM4_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-152 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-151 {
  display:none;
}
.floating-image-162 {
  background-image:url('/static/resource/project/dca_courses_icons_DM4_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-153 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-content {
  background-color:#F0F0F0;
  height:1520px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-content-item {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-217 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-218 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-222 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.box-233 {
  height:600px;
  left:0px;
  top:270px;
  width:960px;
}
.floating-image-234 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:40px;
  width:260px;
}
.floating-image-235 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:220px;
  width:260px;
}
.floating-image-236 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:400px;
  width:260px;
}
.box-227 {
  height:150px;
  left:350px;
  top:46px;
  width:560px;
}
.text-227 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.text-228 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-226 {
  height:150px;
  left:350px;
  top:226px;
  width:560px;
}
.Text_156 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.Text_129 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.box-229 {
  height:150px;
  left:350px;
  top:406px;
  width:560px;
}
.text-230 {
  color:#B6B6B6;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-231 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-215 {
  background-color:#FFFFFF;
  height:650px;
  left:0px;
  top:870px;
  width:960px;
}
.text-236 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.box-239 {
  height:432px;
  left:50px;
  top:140px;
  width:310px;
}
.box-240 {
  border-style:dotted;
  border-width:2px;
  height:88px;
  left:-2px;
  top:100px;
  width:310px;
}
.text-242 {
  color:#616161;
  height:432px;
  left:0px;
  top:0px;
  width:310px;
}
.table, .table > tbody > tr > td, .table > thead > tr > td {
  border-color:#CCCCCC;
  border-width:0px;
}
.table {
  background-position:center center;
  border-radius:3px;
  float:none;
  height:290px;
  margin-left:390px;
  margin-top:140px;
  position:relative;
  text-align:center;
  width:520px;
}
.table-caption {
  color:#242424;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:0px;
  text-align:right;
}
.table-header {
  background-color:#F3A6B4;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:400;
  height:36px;
}
.table-row-cell {
  text-align:center;
  width:130px;
}
.table-row-cell-22 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-26 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-30 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-34 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-38 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-19 {
  text-align:center;
}
.table-row-16 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-20 {
  text-align:center;
}
.table-row-17 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-21 {
  text-align:center;
}
.table-row-42 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-46 {
  text-align:center;
}
.table-row-43 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-55 {
  text-align:center;
}
.table-row-208 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-209 {
  text-align:center;
}
.text-244 {
  color:#929292;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  height:24px;
  left:390px;
  text-align:center;
  top:524px;
  width:520px;
}
.cell-241 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:50px;
  margin-top:50px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-242 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:20px;
  margin-top:50px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.tab-content-item-131 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-218 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-219 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-223 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.tab-content-item-147 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-219 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-220 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-224 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.tab-content-item-154 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-220 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-221 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-225 {
  background-image:url('/static/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.Footer {
  background-color:#F7F7F7;
  height:274px;
  position:relative;
  width:100%;
}
.maker {
  font-family:'Nanum Gothic', sans-serif;
  min-width:960px;
}