.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.pg-form {
  border-width:1px;
  height:525px;
  left:70px;
  top:32px;
  width:519px;
}
.pg-text-field {
  height:30px;
  left:86px;
  padding-left:8px;
  padding-right:8px;
  top:44px;
  width:200px;
}
.pg-radio-button {
  height:32px;
  left:123px;
  top:106px;
  width:24px;
}
.pg-radio-button-16 {
  height:32px;
  left:154px;
  top:107px;
  width:24px;
}
.cell {
  border-width:1px;
  height:40px;
  left:71px;
  line-height:40px;
  text-align:center;
  top:574px;
  width:100px;
}
.cell-14 {
  border-width:1px;
  height:40px;
  left:491px;
  line-height:40px;
  text-align:center;
  top:571px;
  width:100px;
}