.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.pg-form {
  border-width:1px;
  height:681px;
  left:71px;
  top:32px;
  width:519px;
}
.pg-button {
  background-color:#DCDCDC;
  color:#6D6D6D;
  height:40px;
  left:286px;
  top:632px;
  width:100px;
}
.pg-text-field {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:17px;
  width:200px;
}
.pg-radio-button {
  height:32px;
  left:166px;
  top:56px;
  width:24px;
}
.pg-radio-button-16 {
  height:32px;
  left:253px;
  top:56px;
  width:24px;
}
.pg-text-field-17 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:104px;
  width:200px;
}
.pg-text-field-18 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:151px;
  width:200px;
}
.pg-text-view {
  border-width:1px;
  height:84px;
  left:0px;
  line-height:1.30;
  margin-left:auto;
  margin-right:auto;
  padding:8px;
  right:0px;
  text-align:left;
  top:194px;
  width:200px;
}
.pg-text-field-20 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:311px;
  width:200px;
}
.pg-text-field-21 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:355px;
  width:200px;
}
.pg-text-field-22 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:401px;
  width:200px;
}
.pg-text-field-23 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:447px;
  width:200px;
}
.pg-text-field-24 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:494px;
  width:200px;
}
.pg-text-field-25 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:543px;
  width:200px;
}
.pg-select {
  height:32px;
  left:150px;
  top:584px;
  width:130px;
}
.pg-text-field-27 {
  border-width:1px;
  height:30px;
  left:306px;
  padding-left:8px;
  padding-right:8px;
  top:583px;
  width:105px;
}
.cell-29 {
  height:33px;
  left:193px;
  line-height:33px;
  text-align:center;
  top:56px;
  width:52px;
}
.cell-31 {
  height:33px;
  left:278px;
  line-height:33px;
  text-align:center;
  top:55px;
  width:52px;
}
.cell-30 {
  border-width:1px;
  height:40px;
  left:8px;
  line-height:40px;
  text-align:center;
  top:65px;
  width:131px;
}
.cell {
  border-width:1px;
  height:40px;
  left:83px;
  line-height:40px;
  text-align:center;
  top:667px;
  width:100px;
}
.cell-14 {
  border-width:1px;
  height:40px;
  left:476px;
  line-height:40px;
  text-align:center;
  top:666px;
  width:100px;
}
.popup {
  background-color:#FFFFFF;
  height:240px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup > .iux-popup-close-button {
  background-image:url('/static/resource/project/btn_popup_close.png');
  display:inherit;
  height:32px;
  position:absolute;
  right:10px;
  top:10px;
  width:32px;
}
.pg-form-17 {
  bottom:0px;
  height:200px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:310px;
}
.pg-button-37 {
  background-color:#DCDCDC;
  color:#6D6D6D;
  height:40px;
  left:162px;
  top:125px;
  width:100px;
}
.pg-text-field-35 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:33px;
  width:200px;
}
.pg-text-field-36 {
  border-width:1px;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  right:0px;
  top:84px;
  width:200px;
}