.iu-center-box {
  width:960px;
}
.event_160621 {
  min-width:960px;
}
.Header {
  background-color:#F7F7F7;
  color:#333333;
  height:228px;
  min-width:960px;
  position:relative;
  width:100%;
}
.CenterBox_7 {
  background-color:#FFFFFF;
  background-position:center center;
  background-size:100% 100%;
  color:#000000;
}
.CenterBox_7.iux-hover, .CenterBox_7.iux-active {
  color:#000000;
}
.box-925 {
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:196px;
  width:734px;
}
.Text_50 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  margin-left:12px;
  margin-top:0px;
  position:relative;
  width:82px;
}
.Text_47 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:80px;
}
.Text_22 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_23 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:132px;
}
.Text_24 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:68px;
}
.Text_26 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_27 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:88px;
}
.Text_28 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:846px;
  top:54px;
  width:44px;
}
.Text_28.iux-hover, .Text_28.iux-active {
  color:#EF8721;
}
.Text_242 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:892px;
  top:54px;
  width:8px;
}
.Text_241 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:904px;
  top:54px;
  width:49px;
}
.Text_241.iux-hover, .Text_241.iux-active {
  color:#EF8721;
}
.FloatingImage {
  background-image:url('/resource/project/dlab_logo.png');
  background-position:center center;
  background-size:contain;
  height:102px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:66px;
  width:276px;
}
.HTML_300 {
  height:94px;
  left:71px;
  top:530px;
  width:100px;
}
.Box_301 {
  background-color:#EF8721;
  background-position:center;
  height:38px;
  left:0px;
  top:0px;
  width:100%;
}
.text-447 {
  color:#FFFFFF;
  height:24px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:7px;
  width:549px;
}
.Image_302 {
  background-image:url('/resource/project/text_label_ani_k.gif');
  height:38px;
  left:619px;
  top:0px;
  width:76px;
}
.PageContent {
  background-color:#F7F7F7;
}
.Section {
  height:1740px;
}
.CenterBox {
  background-color:#FFFFFF;
  color:#000000;
}
.Text_68 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:47px;
  text-align:left;
  top:13px;
  width:442px;
}
.box-124 {
  height:1200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:488px;
  width:860px;
}
.Image {
  background-image:url('/resource/project/event_160625_bg.jpg');
  background-size:cover;
  height:1200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:1px;
  width:860px;
}
.text-102 {
  color:#008CDC;
  font-family:'Noto Sans KR', sans-serif;
  font-size:22px;
  height:33px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:114px;
  width:389px;
}
.text-103 {
  color:#008CDC;
  font-family:'Noto Sans KR', sans-serif;
  font-size:56px;
  font-weight:700;
  height:80px;
  left:0px;
  letter-spacing:-2px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:139px;
  width:660px;
}
.text-104 {
  color:#002878;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  height:33px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:538px;
  width:860px;
}
.text-105 {
  color:#2D5091;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:86px;
  left:0px;
  line-height:1.30;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:579px;
  width:860px;
}
.text-106 {
  color:#00AAE5;
  font-family:'Noto Sans KR', sans-serif;
  font-size:28px;
  font-weight:700;
  height:40px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:703px;
  width:860px;
}
.text-108 {
  color:#002D50;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  height:245px;
  left:158px;
  line-height:1.20;
  text-align:left;
  top:769px;
  width:70px;
}
.text-107 {
  color:#2D5091;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  height:245px;
  left:230px;
  line-height:1.20;
  text-align:left;
  top:769px;
  width:635px;
}
.cell {
  -webkit-transition:background-color 0.0s, border-color 0.0s, color 0.0s;
  border-color:#00AAE5;
  border-width:4px;
  color:#00AAE5;
  font-family:'Noto Sans KR', sans-serif;
  font-size:22px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  right:0px;
  text-align:center;
  top:1098px;
  transition:background-color 0.0s, border-color 0.0s, color 0.0s;
  width:150px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:#FFFFFF;
  border-color:#FF862A;
  color:#FF862A;
}
.box {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:95px;
  width:860px;
}
.box-115 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:130px;
  width:860px;
}
.text-127 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:103px;
  width:50px;
}
.text-131 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:100px;
  text-align:center;
  top:103px;
  width:90px;
}
.text-137 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:198px;
  text-align:center;
  top:103px;
  width:183px;
}
.text-138 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  text-align:center;
  top:103px;
  width:500px;
}
.box-136 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:166px;
  width:860px;
}
.box-116 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:202px;
  width:860px;
}
.box-117 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:238px;
  width:860px;
}
.box-118 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:274px;
  width:860px;
}
.box-119 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:310px;
  width:860px;
}
.box-120 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:346px;
  width:860px;
}
.box-121 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:382px;
  width:860px;
}
.box-122 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:418px;
  width:860px;
}
.box-123 {
  background-color:#DBDBDB;
  height:1px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:454px;
  width:860px;
}
.text-116 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:138px;
  width:50px;
}
.text-116.iux-hover, .text-116.iux-active {
  color:#EF8721;
}
.text-117.iux-hover, .text-117.iux-active {
  color:#EF8721;
}
.text-117 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:138px;
  width:90px;
}
.text-118.iux-hover, .text-118.iux-active {
  color:#EF8721;
}
.text-118 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:138px;
  width:189px;
}
.text-119.iux-hover, .text-119.iux-active {
  color:#EF8721;
}
.text-119 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:138px;
  width:500px;
}
.text-139.iux-hover, .text-139.iux-active {
  color:#EF8721;
}
.text-139 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:174px;
  width:50px;
}
.text-140.iux-hover, .text-140.iux-active {
  color:#EF8721;
}
.text-140 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:174px;
  width:90px;
}
.text-141 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:174px;
  width:189px;
}
.text-141.iux-hover, .text-141.iux-active {
  color:#EF8721;
}
.text-142 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:174px;
  width:500px;
}
.text-142.iux-hover, .text-142.iux-active {
  color:#EF8721;
}
.text-143 {
  color:#EF8721;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:210px;
  width:50px;
}
.text-144 {
  color:#EF8721;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:210px;
  width:90px;
}
.text-145 {
  color:#EF8721;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:210px;
  width:189px;
}
.text-146 {
  color:#EF8721;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:210px;
  width:500px;
}
.text-147 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:246px;
  width:50px;
}
.text-147.iux-hover, .text-147.iux-active {
  color:#EF8721;
}
.text-148 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:246px;
  width:90px;
}
.text-148.iux-hover, .text-148.iux-active {
  color:#EF8721;
}
.text-149.iux-hover, .text-149.iux-active {
  color:#EF8721;
}
.text-149 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:206px;
  text-align:left;
  top:246px;
  width:183px;
}
.text-150.iux-hover, .text-150.iux-active {
  color:#EF8721;
}
.text-150 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:246px;
  width:500px;
}
.text-151.iux-hover, .text-151.iux-active {
  color:#EF8721;
}
.text-151 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:282px;
  width:50px;
}
.text-152 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:282px;
  width:90px;
}
.text-152.iux-hover, .text-152.iux-active {
  color:#EF8721;
}
.text-153 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:282px;
  width:183px;
}
.text-153.iux-hover, .text-153.iux-active {
  color:#EF8721;
}
.text-154.iux-hover, .text-154.iux-active {
  color:#EF8721;
}
.text-154 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:282px;
  width:500px;
}
.text-155 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:318px;
  width:50px;
}
.text-156 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:318px;
  width:90px;
}
.text-157 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:318px;
  width:183px;
}
.text-158 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:318px;
  width:500px;
}
.text-159 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:354px;
  width:50px;
}
.text-159.iux-hover, .text-159.iux-active {
  color:#EF8721;
}
.text-160.iux-hover, .text-160.iux-active {
  color:#EF8721;
}
.text-160 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:354px;
  width:90px;
}
.text-161.iux-hover, .text-161.iux-active {
  color:#EF8721;
}
.text-161 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:354px;
  width:183px;
}
.text-162.iux-hover, .text-162.iux-active {
  color:#EF8721;
}
.text-162 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:354px;
  width:500px;
}
.text-163 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:390px;
  width:50px;
}
.text-163.iux-hover, .text-163.iux-active {
  color:#EF8721;
}
.text-164 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:390px;
  width:90px;
}
.text-164.iux-hover, .text-164.iux-active {
  color:#EF8721;
}
.text-165.iux-hover, .text-165.iux-active {
  color:#EF8721;
}
.text-165 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:390px;
  width:183px;
}
.text-166.iux-hover, .text-166.iux-active {
  color:#EF8721;
}
.text-166 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:390px;
  width:500px;
}
.text-167.iux-hover, .text-167.iux-active {
  color:#EF8721;
}
.text-167 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:50px;
  text-align:center;
  top:426px;
  width:50px;
}
.text-168.iux-hover, .text-168.iux-active {
  color:#EF8721;
}
.text-168 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:106px;
  text-align:left;
  top:426px;
  width:90px;
}
.text-169 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:205px;
  text-align:left;
  top:426px;
  width:183px;
}
.text-169.iux-hover, .text-169.iux-active {
  color:#EF8721;
}
.text-170.iux-hover, .text-170.iux-active {
  color:#EF8721;
}
.text-170 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:27px;
  left:404px;
  top:426px;
  width:500px;
}
.Footer {
  background-color:#F7F7F7;
  height:274px;
  position:relative;
  width:100%;
}
.CenterBox_27 {
  background-color:#242424;
}
.Text {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:71px;
  width:85px;
}
.Text_52 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:147px;
  width:85px;
}
.Text_53 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:109px;
  width:85px;
}
.Text_54 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:301px;
  top:29px;
  width:154px;
}
.Text_55 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:71px;
  width:154px;
}
.Text_56 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:54px;
  top:229px;
  width:512px;
}
.Text_57 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:147px;
  width:154px;
}
.Text_58 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:109px;
  width:154px;
}
.Text_59 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:73px;
  top:29px;
  width:154px;
}
.Text_60 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:71px;
  width:85px;
}
.Text_61 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:147px;
  width:85px;
}
.Text_62 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:109px;
  width:85px;
}
.Box_63 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:211px;
  width:858px;
}
.Box_64 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:178px;
  width:223px;
}
.Box_65 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:140px;
  width:223px;
}
.Box_66 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:102px;
  width:223px;
}
.Box_67 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:64px;
  width:223px;
}
.Box_68 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:178px;
  width:223px;
}
.Box_69 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:140px;
  width:223px;
}
.Box_70 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:102px;
  width:223px;
}
.Box_71 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:64px;
  width:223px;
}
.FloatingImage_72 {
  background-image:url('/resource/project/hp_footer_icon_facebook.png');
  height:100px;
  left:701px;
  top:31px;
  width:100px;
}
.FloatingImage_73 {
  background-image:url('/resource/project/hp_footer_icon_youtube.png');
  height:100px;
  left:811px;
  top:31px;
  width:100px;
}