.iu-center-box {
  width:960px;
}
.creator {
  font-family:'Nanum Gothic', sans-serif;
  min-width:960px;
}
.Header {
  background-color:#F7F7F7;
  color:#333333;
  height:228px;
  min-width:960px;
  position:relative;
  width:100%;
}
.CenterBox_7 {
  background-color:#FFFFFF;
  background-position:center center;
  background-size:100% 100%;
  color:#000000;
}
.CenterBox_7.iux-hover, .CenterBox_7.iux-active {
  color:#000000;
}
.box-925 {
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:196px;
  width:734px;
}
.Text_50 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  margin-left:12px;
  margin-top:0px;
  position:relative;
  width:82px;
}
.Text_47 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:80px;
}
.Text_22 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_23 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:132px;
}
.Text_24 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:68px;
}
.Text_26 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_27 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:88px;
}
.Text_28 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:846px;
  top:54px;
  width:44px;
}
.Text_28.iux-hover, .Text_28.iux-active {
  color:#EF8721;
}
.Text_242 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:892px;
  top:54px;
  width:8px;
}
.Text_241 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:904px;
  top:54px;
  width:49px;
}
.Text_241.iux-hover, .Text_241.iux-active {
  color:#EF8721;
}
.FloatingImage {
  background-image:url('/resource/project/dlab_logo.png');
  background-position:center center;
  background-size:contain;
  height:102px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:66px;
  width:276px;
}
.HTML_300 {
  height:94px;
  left:71px;
  top:530px;
  width:100px;
}
.Box_301 {
  background-color:#EF8721;
  background-position:center;
  height:38px;
  left:0px;
  top:0px;
  width:100%;
}
.text-447 {
  color:#FFFFFF;
  height:24px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:7px;
  width:549px;
}
.Image_302 {
  background-image:url('/resource/project/text_label_ani_k.gif');
  height:38px;
  left:619px;
  top:0px;
  width:76px;
}
.PageContent {
  background-color:#F7F7F7;
}
.Section_90 {
  background-position:center top;
  background-repeat:repeat;
  background-size:contain;
  border-color:#DBDBDB;
  border-style:dashed;
  border-width:0px;
  height:88px;
}
.CenterBox_134 {
  background-position:top;
}
.Box_138 {
  background-image:url('/resource/project/hp_aboutus_menu_bg_1.jpg');
  height:88px;
  left:0px;
  top:0px;
  width:960px;
}
.Text_139 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:38px;
  left:120px;
  text-align:left;
  top:36px;
  width:160px;
}
.Text_139.iux-hover, .Text_139.iux-active {
  color:#EF8721;
}
.Text_31 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:28px;
  left:331px;
  top:36px;
  width:160px;
}
.Text_31.iux-hover, .Text_31.iux-active {
  color:#EF8721;
}
.Text_32 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:29px;
  left:532px;
  top:36px;
  width:160px;
}
.Text_33.iux-hover, .Text_33.iux-active {
  color:#EF8721;
}
.Text_33 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:26px;
  left:743px;
  text-align:left;
  top:36px;
  width:160px;
}
.Section {
  background-position:center center;
  background-size:cover;
  height:323px;
  opacity:1;
}
.CenterBox_16 {
  background-color:#7CBBEB;
  border-color:#DBDBDB;
  border-style:dashed;
  border-top-width:0px;
}
.FloatingImage_134 {
  background-image:url('/resource/project/dl_home_courses_main_creator_2.png');
  background-size:cover;
  height:323px;
  left:0px;
  top:0px;
  width:960px;
}
.Section_21 {
  background-position:top;
  border-width:0px;
  height:62px;
  margin-left:0px;
  overflow:hidden;
}
.CenterBox_21 {
  background-color:#FFFFFF;
  background-size:100% 100%;
  border-bottom-width:0px;
  border-top-width:0px;
}
.Text_132 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:27px;
  left:50px;
  top:19px;
  width:110px;
}
.Text_133 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:29px;
  left:200px;
  top:19px;
  width:203px;
}
.Cell_142 {
  background-color:#FAE100;
  border-radius:6px;
  color:#3C1E1E;
  font-size:14px;
  font-weight:700;
  height:30px;
  left:540px;
  text-align:center;
  top:16px;
  width:100px;
}
.Cell_142 > a {
  line-height:30px;
}
.Cell {
  background-color:#094179;
  border-radius:6px;
  color:#FFFFFF;
  font-size:14px;
  height:30px;
  left:652px;
  text-align:center;
  top:16px;
  width:156px;
}
.Cell > a {
  line-height:30px;
}
.cell-154 {
  background-color:#094179;
  border-radius:6px;
  color:#FFFFFF;
  font-size:14px;
  height:30px;
  left:820px;
  text-align:center;
  top:16px;
  width:88px;
}
.cell-154 > a {
  line-height:30px;
}
.Section_23 {
  height:440px;
}
.CenterBox_23 {
  background-color:#FFFFFF;
  border-top-color:#F7F7F7;
  border-top-width:5px;
}
.Text_68 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.Text_140 {
  color:#EF8721;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  font-weight:700;
  height:36px;
  left:50px;
  top:172px;
  width:478px;
}
.Text_131 {
  color:#094179;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:46px;
  left:50px;
  top:135px;
  width:434px;
}
.Text_141 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:175px;
  left:52px;
  top:216px;
  width:430px;
}
.FloatingImage_124 {
  background-image:url('/resource/project/creator_concept_image_KID_1304.jpg');
  background-size:cover;
  border-radius:0px;
  height:256px;
  left:516px;
  top:145px;
  width:393px;
}
.Section_53 {
  height:440px;
}
.CenterBox {
  background-color:#EDEDED;
}
.Box_57 {
  background-color:#7CBBEB;
  border-color:#7CBBEB;
  border-width:1px;
  height:225px;
  left:631px;
  top:109px;
  width:276px;
}
.Box_124 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_127 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_128 {
  color:#FFFFFF;
  height:24px;
  left:11px;
  top:4px;
  width:239px;
}
.Box_127 {
  background-color:#7CBBEB;
  border-color:#7CBBEB;
  border-width:1px;
  height:225px;
  left:341px;
  top:110px;
  width:276px;
}
.Box_128 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_69 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:9px;
  width:256px;
}
.Text_70 {
  color:#FFFFFF;
  height:24px;
  left:10px;
  top:3px;
  width:240px;
}
.Box_125 {
  background-color:#7CBBEB;
  border-color:#7CBBEB;
  border-width:1px;
  height:225px;
  left:51px;
  top:109px;
  width:276px;
}
.Box_126 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_64 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:175px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_65 {
  color:#FFFFFF;
  height:24px;
  left:9px;
  top:4px;
  width:240px;
}
.Text_134 {
  color:#094179;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:434px;
}
.Section_25 {
  height:440px;
}
.CenterBox_25 {
  background-color:#FFFFFF;
}
.Text_147 {
  color:#094179;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:241px;
}
.Box {
  height:335px;
  left:35px;
  top:83px;
  width:208px;
}
.Text_39 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:51px;
  left:30px;
  line-height:1.40;
  text-align:left;
  top:183px;
  width:190px;
}
.Text_136 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:87px;
  left:30px;
  top:230px;
  width:176px;
}
.FloatingImage_119 {
  background-image:url('/resource/project/img_design_thinking.png');
  background-size:100% 100%;
  height:170px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:7px;
  width:170px;
}
.Box_130 {
  height:335px;
  left:261px;
  top:81px;
  width:208px;
}
.Text_135 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:31px;
  text-align:left;
  top:185px;
  width:183px;
}
.Text_142 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:124px;
  left:32px;
  top:219px;
  width:176px;
}
.FloatingImage_36 {
  background-image:url('/resource/project/hp_img_mobile_app.png');
  background-size:100% 100%;
  height:164px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:12px;
  width:164px;
}
.Box_134 {
  height:335px;
  left:492px;
  top:81px;
  width:208px;
}
.Text_143 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:25px;
  text-align:left;
  top:185px;
  width:182px;
}
.Text_144 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:68px;
  left:25px;
  top:210px;
  width:176px;
}
.FloatingImage_38 {
  background-image:url('/resource/project/hp_img_arduino.png');
  background-size:100% 100%;
  height:167px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:11px;
  width:167px;
}
.Box_135 {
  height:335px;
  left:717px;
  top:82px;
  width:208px;
}
.Text_145 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:28px;
  text-align:left;
  top:185px;
  width:182px;
}
.Text_146 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:96px;
  left:28px;
  top:210px;
  width:176px;
}
.FloatingImage_42 {
  background-image:url('/resource/project/hp_img_iot.png');
  background-size:100% 100%;
  height:162px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:12px;
  width:162px;
}
.Section_78 {
  height:500px;
}
.CenterBox_80 {
  background-color:#EDEDED;
}
.Text_78 {
  border-bottom-width:2px;
  border-color:#616161;
  border-style:dotted;
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:93px;
  left:516px;
  top:99px;
  width:392px;
}
.Text_82 {
  border-bottom-width:2px;
  border-color:#616161;
  border-style:dotted;
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:43px;
  left:516px;
  top:213px;
  width:392px;
}
.FloatingImage_131 {
  background-image:url('/resource/project/starter_concept_image_P6040186.jpg');
  background-size:cover;
  height:286px;
  left:51px;
  top:99px;
  width:433px;
}
.Text_148 {
  color:#094179;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:39px;
  width:434px;
}
.Text_83 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:199px;
  left:516px;
  top:278px;
  width:392px;
}
.Section_45 {
  height:1160px;
}
.CenterBox_45 {
  background-color:#FFFFFF;
  color:#000000;
}
.Text_149 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.Box_131 {
  background-color:#7CBBEB;
  height:34px;
  left:415px;
  top:170px;
  width:492px;
}
.Box_132 {
  background-color:#F1F1F1;
  height:106px;
  left:415px;
  top:309px;
  width:492px;
}
.Box_139 {
  background-color:#F1F1F1;
  height:70px;
  left:415px;
  top:520px;
  width:492px;
}
.box-157 {
  background-color:#F1F1F1;
  height:72px;
  left:414px;
  top:694px;
  width:492px;
}
.Text_150 {
  color:#616161;
  height:492px;
  left:421px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:124px;
}
.Text_151 {
  border-left-color:#616161;
  border-style:dashed;
  border-width:0px;
  color:#616161;
  height:492px;
  left:553px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:70px;
}
.Text_153 {
  border-right-color:#616161;
  border-right-width:0px;
  border-style:dashed;
  color:#616161;
  height:526px;
  left:623px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:70px;
}
.Text_152 {
  border-left-color:#616161;
  border-left-width:0px;
  border-right-color:#616161;
  border-right-width:0px;
  border-style:dashed;
  height:492px;
  left:693px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:70px;
}
.Text_154 {
  border-right-color:#616161;
  border-right-width:0px;
  border-style:dashed;
  height:526px;
  left:761px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:70px;
}
.text-157 {
  border-right-color:#616161;
  border-right-width:0px;
  border-style:dashed;
  height:526px;
  left:831px;
  line-height:2.20;
  text-align:center;
  top:169px;
  width:70px;
}
.Text_129 {
  color:#7CBBEB;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:169px;
  width:339px;
}
.Text_156 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:78px;
  left:51px;
  top:196px;
  width:284px;
}
.Text_157 {
  color:#7CBBEB;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:285px;
  width:334px;
}
.Text_158 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:102px;
  left:51px;
  top:312px;
  width:284px;
}
.Text_159 {
  color:#7CBBEB;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:428px;
  width:284px;
}
.Text_160 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:78px;
  left:51px;
  top:455px;
  width:284px;
}
.Text_161 {
  color:#7CBBEB;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:548px;
  width:284px;
}
.Text_162 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:78px;
  left:51px;
  top:575px;
  width:284px;
}
.Text_163 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:808px;
  width:286px;
}
.Text_164 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:78px;
  left:51px;
  top:836px;
  width:284px;
}
.text-155 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:927px;
  width:286px;
}
.text-156 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:52px;
  left:51px;
  top:954px;
  width:284px;
}
.Text_165 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:51px;
  top:1021px;
  width:284px;
}
.Text_166 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:28px;
  left:51px;
  top:1048px;
  width:284px;
}
.Text_167 {
  color:#919191;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:50px;
  left:51px;
  top:669px;
  width:284px;
}
.Text_168 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:78px;
  left:51px;
  top:719px;
  width:284px;
}
.Text_126 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:420px;
  text-align:right;
  top:142px;
  width:485px;
}
.Box_140 {
  height:0px;
  left:598px;
  top:405px;
  width:0px;
}
.Text_169 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:50px;
  left:421px;
  text-align:left;
  top:705px;
  width:485px;
}
.box-140 {
  background-color:rgba(255,109,0,0.59);
  height:34px;
  left:622px;
  top:590px;
  width:142px;
}
.text-141 {
  color:#FFFFFF;
  height:35px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:6px;
  width:135px;
}
.text-142 {
  color:#80C8FF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:27px;
  left:422px;
  top:808px;
  width:303px;
}
.text-143 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:222px;
  left:421px;
  top:836px;
  width:483px;
}
.Footer {
  background-color:#F7F7F7;
  height:274px;
  position:relative;
  width:100%;
}
.CenterBox_27 {
  background-color:#242424;
}
.Text {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:71px;
  width:85px;
}
.Text_52 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:147px;
  width:85px;
}
.Text_53 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:109px;
  width:85px;
}
.Text_54 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:301px;
  top:29px;
  width:154px;
}
.Text_55 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:71px;
  width:154px;
}
.Text_56 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:54px;
  top:229px;
  width:512px;
}
.Text_57 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:147px;
  width:154px;
}
.Text_58 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:109px;
  width:154px;
}
.Text_59 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:73px;
  top:29px;
  width:154px;
}
.Text_60 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:71px;
  width:85px;
}
.Text_61 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:147px;
  width:85px;
}
.Text_62 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:109px;
  width:85px;
}
.Box_63 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:211px;
  width:858px;
}
.Box_64 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:178px;
  width:223px;
}
.Box_65 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:140px;
  width:223px;
}
.Box_66 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:102px;
  width:223px;
}
.Box_67 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:64px;
  width:223px;
}
.Box_68 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:178px;
  width:223px;
}
.Box_69 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:140px;
  width:223px;
}
.Box_70 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:102px;
  width:223px;
}
.Box_71 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:64px;
  width:223px;
}
.FloatingImage_72 {
  background-image:url('/resource/project/hp_footer_icon_facebook.png');
  height:100px;
  left:701px;
  top:31px;
  width:100px;
}
.FloatingImage_73 {
  background-image:url('/resource/project/hp_footer_icon_youtube.png');
  height:100px;
  left:811px;
  top:31px;
  width:100px;
}