.iu-center-box {
  width:960px;
}
.maker {
  font-family:'Nanum Gothic', sans-serif;
  min-width:960px;
}
.Header {
  background-color:#F7F7F7;
  color:#333333;
  height:228px;
  min-width:960px;
  position:relative;
  width:100%;
}
.CenterBox_7 {
  background-color:#FFFFFF;
  background-position:center center;
  background-size:100% 100%;
  color:#000000;
}
.CenterBox_7.iux-hover, .CenterBox_7.iux-active {
  color:#000000;
}
.box-925 {
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:196px;
  width:734px;
}
.Text_50 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:400;
  height:25px;
  margin-left:12px;
  margin-top:0px;
  position:relative;
  width:82px;
}
.Text_47 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:80px;
}
.Text_22 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_23 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:132px;
}
.Text_24 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:68px;
}
.Text_26 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:52px;
}
.Text_27 {
  color:#8A8A8A;
  float:left;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  height:25px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:88px;
}
.Text_28 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:846px;
  top:54px;
  width:44px;
}
.Text_28.iux-hover, .Text_28.iux-active {
  color:#EF8721;
}
.Text_242 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:892px;
  top:54px;
  width:8px;
}
.Text_241 {
  color:#494949;
  font-family:'Helvetica', sans-serif;
  font-size:14px;
  font-weight:700;
  height:25px;
  left:904px;
  top:54px;
  width:49px;
}
.Text_241.iux-hover, .Text_241.iux-active {
  color:#EF8721;
}
.FloatingImage {
  background-image:url('/resource/project/dlab_logo.png');
  background-position:center center;
  background-size:contain;
  height:102px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:66px;
  width:276px;
}
.HTML_300 {
  height:94px;
  left:71px;
  top:530px;
  width:100px;
}
.Box_301 {
  background-color:#EF8721;
  background-position:center;
  height:38px;
  left:0px;
  top:0px;
  width:100%;
}
.text-447 {
  color:#FFFFFF;
  height:24px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:7px;
  width:549px;
}
.Image_302 {
  background-image:url('/resource/project/text_label_ani_k.gif');
  height:38px;
  left:619px;
  top:0px;
  width:76px;
}
.PageContent {
  background-color:#F7F7F7;
}
.Section_82 {
  background-position:center top;
  background-repeat:repeat;
  background-size:contain;
  border-width:0px;
  height:88px;
}
.Box_140 {
  background-image:url('/resource/project/hp_aboutus_menu_bg_1.jpg');
  height:88px;
  left:0px;
  top:0px;
  width:960px;
}
.Text_140 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:26px;
  left:120px;
  text-align:left;
  top:36px;
  width:132px;
}
.Text_140.iux-hover, .Text_140.iux-active {
  color:#EF8721;
}
.Text_31 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:28px;
  left:331px;
  top:36px;
  width:160px;
}
.Text_31.iux-hover, .Text_31.iux-active {
  color:#EF8721;
}
.Text_32 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:29px;
  left:532px;
  top:36px;
  width:160px;
}
.Text_32.iux-hover, .Text_32.iux-active {
  color:#EF8721;
}
.Text_33 {
  color:#2A2A2A;
  font-family:'Helvetica', sans-serif;
  font-size:18px;
  height:26px;
  left:743px;
  text-align:left;
  top:36px;
  width:160px;
}
.Section {
  background-position:center center;
  background-size:cover;
  border-width:0px;
  height:323px;
  opacity:1;
}
.CenterBox_16 {
  background-color:#F3A6B4;
}
.FloatingImage_135 {
  background-image:url('/resource/project/dl_home_courses_main_maker_2.png');
  background-size:cover;
  height:323px;
  left:0px;
  top:0px;
  width:960px;
}
.Section_21 {
  border-width:0px;
  height:62px;
  margin-left:0px;
  overflow:hidden;
}
.CenterBox_21 {
  background-color:#FFFFFF;
  border-width:0px;
}
.Text_133 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:25px;
  left:50px;
  top:19px;
  width:101px;
}
.Text_134 {
  color:#000000;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  height:25px;
  left:200px;
  top:19px;
  width:203px;
}
.cell {
  background-color:#FFFFFF;
  border-color:#F3A6B4;
  border-radius:4px;
  border-width:2px;
  color:#F3A6B4;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:32px;
  margin-right:50px;
  margin-top:13px;
  position:relative;
  right:0px;
  text-align:center;
  width:116px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:rgba(243,166,180,0.90);
  color:#FFFFFF;
}
.cell > a {
  line-height:32px;
}
.cell-463 {
  background-color:#FFFFFF;
  border-color:#F3A6B4;
  border-radius:4px;
  border-width:2px;
  color:#F3A6B4;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:32px;
  margin-right:20px;
  margin-top:13px;
  position:relative;
  right:0px;
  text-align:center;
  width:116px;
}
.cell-463.iux-hover, .cell-463.iux-active {
  background-color:rgba(243,166,180,0.90);
  color:#FFFFFF;
}
.cell-463 > a {
  line-height:32px;
}
.Section_23 {
  height:510px;
}
.CenterBox_23 {
  background-color:#FFFFFF;
  border-top-color:#F7F7F7;
  border-top-width:5px;
}
.Text_68 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.Text_131 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:46px;
  left:50px;
  top:140px;
  width:434px;
}
.Text_147 {
  color:#EF8721;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:18px;
  font-weight:700;
  height:36px;
  left:50px;
  top:172px;
  width:478px;
}
.Text_148 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  left:49px;
  top:216px;
  width:440px;
}
.FloatingImage_124 {
  background-image:url('/resource/project/maker_concept_image_P6170653_staff.jpg');
  background-position:top;
  background-size:cover;
  border-radius:0px;
  height:256px;
  left:516px;
  top:140px;
  width:393px;
}
.Section_53 {
  height:400px;
}
.CenterBox {
  background-color:#EDEDED;
}
.Text_135 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:50px;
  width:860px;
}
.Box_125 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  float:left;
  height:225px;
  margin-left:50px;
  margin-top:110px;
  position:relative;
  width:276px;
}
.Box_126 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_64 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:175px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_65 {
  color:#FFFFFF;
  height:24px;
  left:9px;
  top:4px;
  width:240px;
}
.Box_127 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  height:225px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:110px;
  width:276px;
}
.Box_128 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_69 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:9px;
  width:256px;
}
.Text_70 {
  color:#FFFFFF;
  height:24px;
  left:10px;
  top:3px;
  width:256px;
}
.Box_57 {
  background-color:#F3A6B4;
  border-color:#F3A6B4;
  border-width:1px;
  float:right;
  height:225px;
  margin-right:50px;
  margin-top:110px;
  position:relative;
  right:0px;
  width:276px;
}
.Box_124 {
  background-color:#FFFFFF;
  height:190px;
  left:0px;
  top:35px;
  width:100%;
}
.Text_127 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:176px;
  left:10px;
  text-align:left;
  top:10px;
  width:256px;
}
.Text_128 {
  color:#FFFFFF;
  height:24px;
  left:11px;
  top:4px;
  width:239px;
}
.Section_25 {
  height:490px;
}
.CenterBox_25 {
  background-color:#FFFFFF;
}
.Text_136 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:50px;
  width:860px;
}
.Box {
  float:left;
  height:320px;
  margin-left:54px;
  margin-top:110px;
  position:relative;
  width:176px;
}
.FloatingImage_37 {
  background-image:url('/resource/project/hp_img_design_thinking.png');
  background-size:100% 100%;
  height:176px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:176px;
}
.Text_172 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:51px;
  left:0px;
  line-height:1.40;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:left;
  top:186px;
  width:176px;
}
.Text_173 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:87px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:234px;
  width:176px;
}
.Box_130 {
  float:left;
  height:320px;
  margin-left:49px;
  margin-top:110px;
  position:relative;
  width:176px;
}
.FloatingImage_146 {
  background-image:url('/resource/project/hp_img_mobile_app.png');
  background-size:100% 100%;
  height:176px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:176px;
}
.Text_174 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:left;
  top:186px;
  width:176px;
}
.Text_175 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:105px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:214px;
  width:176px;
}
.Box_134 {
  float:left;
  height:320px;
  margin-left:50px;
  margin-top:110px;
  position:relative;
  width:176px;
}
.FloatingImage_38 {
  background-image:url('/resource/project/hp_img_Raspberry_Pi.png');
  background-size:100% 100%;
  height:176px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:176px;
}
.Text_176 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:left;
  top:186px;
  width:176px;
}
.Text_177 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:68px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:214px;
  width:176px;
}
.Box_135 {
  float:left;
  height:320px;
  margin-left:49px;
  margin-top:110px;
  position:relative;
  width:176px;
}
.FloatingImage_42 {
  background-image:url('/resource/project/hp_img_collabo.png');
  background-size:100% 100%;
  height:176px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:176px;
}
.Text_178 {
  color:#616161;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:700;
  height:29px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:left;
  top:186px;
  width:176px;
}
.Text_179 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  height:96px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:214px;
  width:176px;
}
.Section_78 {
  height:520px;
}
.CenterBox_80 {
  background-color:#EDEDED;
}
.Text_149 {
  color:#79093B;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:36px;
  left:50px;
  top:50px;
  width:860px;
}
.Carousel_48 > .iux-carousel-next {
  background-image:url('/resource/project/ar1.png');
  height:26px;
  right:280px;
  top:334px;
  width:26px;
}
.Carousel_48 > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.Carousel_48 > .iux-carousel-prev {
  background-image:url('/resource/project/ar2.png');
  height:26px;
  left:280px;
  top:334px;
  width:26px;
}
.Carousel_48 > .iux-carousel-pager > li:hover,.Carousel_48 > .iux-carousel-pager > li.iux-active {
  background-color:rgba(0,0,0,0.46);
}
.Carousel_48 > .iux-carousel-prev,.Carousel_48 > .iux-carousel-next {
  display:inherit;
}
.Carousel_48> .iux-carousel-pager > li {
  background-color:rgba(146,146,146,0.35);
  border-radius:4px;
  margin:6px;
  padding:4px;
}
.Carousel_48 {
  height:380px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  overflow:visible;
  right:0px;
  top:120px;
  width:740px;
}
.CarouselItem_48 {
  height:100%;
  position:relative;
}
.Box_48 {
  background-color:#FFE12A;
  height:312px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:680px;
}
.CarouselItem_49 {
  height:100%;
  position:relative;
}
.box-473 {
  background-color:#80C8FF;
  height:312px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:680px;
}
.CarouselItem_50 {
  height:100%;
  position:relative;
}
.box-469 {
  background-color:#A480FF;
  height:312px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:680px;
}
.Section_45 {
  height:1950px;
}
.CenterBox_45 {
  background-color:#FFFFFF;
}
.text-155 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.tabview {
  height:1760px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:140px;
  width:960px;
}
.tab-header {
  font-size:14px;
  height:230px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-header-item {
  float:left;
  height:240px;
  margin-left:30px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image {
  background-image:url('/resource/project/dca_courses_icons_DM1_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-136 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.cell-465 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:80px;
  border-width:5px;
  color:#B6B6B6;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:56px;
  line-height:56px;
  margin-right:2px;
  margin-top:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:56px;
}
.tab-header-active-item {
  display:none;
}
.floating-image-156 {
  background-image:url('/resource/project/dca_courses_icons_DM1_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-140 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.cell-464 {
  background-color:#FFFFFF;
  border-color:#F3A6B4;
  border-radius:80px;
  border-width:5px;
  color:#F3A6B4;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:56px;
  line-height:56px;
  margin-right:2px;
  margin-top:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:56px;
}
.tab-header-item-129 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-157 {
  background-image:url('/resource/project/dca_courses_icons_DM2_off.png');
  background-position:center center;
  background-size:contain;
  color:#000000;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-137 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-139 {
  display:none;
}
.floating-image-158 {
  background-image:url('/resource/project/dca_courses_icons_DM2_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-141 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-item-142 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-159 {
  background-image:url('/resource/project/dca_courses_icons_DM3_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-145 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-144 {
  display:none;
}
.floating-image-160 {
  background-image:url('/resource/project/dca_courses_icons_DM3_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-146 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-item-149 {
  float:left;
  height:240px;
  margin-top:0px;
  position:relative;
  width:225px;
}
.floating-image-161 {
  background-image:url('/resource/project/dca_courses_icons_DM4_off.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-152 {
  color:#969696;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-header-active-item-151 {
  display:none;
}
.floating-image-162 {
  background-image:url('/resource/project/dca_courses_icons_DM4_on.png');
  background-position:center center;
  background-size:contain;
  height:200px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:200px;
}
.cell-153 {
  color:#F3719A;
  font-size:16px;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:205px;
  width:100%;
}
.tab-content {
  background-color:#F0F0F0;
  height:1580px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-content-item {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-217 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-218 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-222 {
  background-image:url('/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.box-233 {
  height:640px;
  left:0px;
  top:270px;
  width:960px;
}
.floating-image-234 {
  background-image:url('/resource/project/photo_dm101.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:60px;
  width:260px;
}
.floating-image-235 {
  background-image:url('/resource/project/photo_dm102.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:240px;
  width:260px;
}
.floating-image-236 {
  background-image:url('/resource/project/photo_dm110.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:420px;
  width:260px;
}
.box-227 {
  height:150px;
  left:350px;
  top:66px;
  width:560px;
}
.text-227 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.text-228 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-226 {
  height:150px;
  left:350px;
  top:246px;
  width:560px;
}
.Text_156 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.Text_129 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.box-229 {
  height:150px;
  left:350px;
  top:426px;
  width:560px;
}
.text-230 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-231 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-258 {
  background-color:#FFFFFF;
  height:670px;
  left:0px;
  top:910px;
  width:960px;
}
.text-259 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.box-260 {
  height:432px;
  left:50px;
  top:140px;
  width:310px;
}
.box-263 {
  border-style:dotted;
  border-width:2px;
  height:88px;
  left:-2px;
  top:100px;
  width:310px;
}
.text-266 {
  color:#616161;
  height:432px;
  left:0px;
  top:0px;
  width:310px;
}
.table, .table > tbody > tr > td, .table > thead > tr > td {
  border-color:#CCCCCC;
  border-width:0px;
}
.table {
  background-position:center center;
  border-radius:3px;
  float:none;
  height:290px;
  margin-left:390px;
  margin-top:140px;
  position:relative;
  text-align:center;
  width:520px;
}
.table-caption {
  color:#242424;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:0px;
  text-align:right;
}
.table-header {
  background-color:#F3A6B4;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:400;
  height:36px;
}
.table-row-cell {
  text-align:center;
  width:130px;
}
.table-row-cell-274 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-281 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-288 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-295 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-302 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-309 {
  text-align:center;
}
.table-row-282 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-321 {
  text-align:center;
}
.table-row-289 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-327 {
  text-align:center;
}
.table-row-296 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-333 {
  text-align:center;
}
.table-row-303 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-339 {
  text-align:center;
}
.table-row-310 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-345 {
  text-align:center;
}
.table-row-cell-350 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  line-height:1.20;
}
.text-262 {
  color:#929292;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  height:24px;
  left:390px;
  text-align:center;
  top:524px;
  width:520px;
}
.cell-263 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:50px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-263 > a {
  line-height:36px;
}
.cell-266 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:20px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-266 > a {
  line-height:36px;
}
.tab-content-item-131 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-237 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-238 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-239 {
  background-image:url('/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.box-240 {
  height:640px;
  left:0px;
  top:270px;
  width:960px;
}
.floating-image-241 {
  background-image:url('/resource/project/photo_dm101.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:60px;
  width:260px;
}
.floating-image-242 {
  background-image:url('/resource/project/photo_dm102.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:240px;
  width:260px;
}
.floating-image-243 {
  background-image:url('/resource/project/photo_dm110.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:420px;
  width:260px;
}
.box-244 {
  height:150px;
  left:350px;
  top:66px;
  width:560px;
}
.text-247 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.text-250 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-245 {
  height:150px;
  left:350px;
  top:246px;
  width:560px;
}
.text-248 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.text-252 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.box-246 {
  height:150px;
  left:350px;
  top:426px;
  width:560px;
}
.text-249 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-251 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-253 {
  background-color:#FFFFFF;
  height:670px;
  left:0px;
  top:910px;
  width:960px;
}
.text-254 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.box-255 {
  height:432px;
  left:50px;
  top:140px;
  width:310px;
}
.box-259 {
  border-style:dotted;
  border-width:2px;
  height:88px;
  left:-2px;
  top:100px;
  width:310px;
}
.text-263 {
  color:#616161;
  height:432px;
  left:0px;
  top:0px;
  width:310px;
}
.table-256, .table-256 > tbody > tr > td, .table-256 > thead > tr > td {
  border-color:#CCCCCC;
  border-width:0px;
}
.table-256 {
  background-position:center center;
  border-radius:3px;
  float:none;
  height:290px;
  margin-left:390px;
  margin-top:140px;
  position:relative;
  text-align:center;
  width:520px;
}
.table-caption-259 {
  color:#242424;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:0px;
  text-align:right;
}
.table-header-263 {
  background-color:#F3A6B4;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:400;
  height:36px;
}
.table-row-cell-264 {
  text-align:center;
  width:130px;
}
.table-row-cell-265 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-266 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-267 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-268 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-269 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-270 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-271 {
  text-align:center;
}
.table-row-277 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-278 {
  text-align:center;
}
.table-row-284 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-285 {
  text-align:center;
}
.table-row-291 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-292 {
  text-align:center;
}
.table-row-298 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-299 {
  text-align:center;
}
.table-row-305 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-306 {
  text-align:center;
}
.table-row-cell-312 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  line-height:1.20;
}
.text-257 {
  color:#929292;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  height:24px;
  left:390px;
  text-align:center;
  top:524px;
  width:520px;
}
.cell-260 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:50px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-260 > a {
  line-height:36px;
}
.cell-261 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:20px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-261 > a {
  line-height:36px;
}
.tab-content-item-147 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-312 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-313 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-314 {
  background-image:url('/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.box-315 {
  height:640px;
  left:0px;
  top:270px;
  width:960px;
}
.floating-image-316 {
  background-image:url('/resource/project/photo_dm101.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:60px;
  width:260px;
}
.floating-image-317 {
  background-image:url('/resource/project/photo_dm102.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:240px;
  width:260px;
}
.floating-image-319 {
  background-image:url('/resource/project/photo_dm110.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:420px;
  width:260px;
}
.box-318 {
  height:150px;
  left:350px;
  top:54px;
  width:560px;
}
.text-322 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.text-325 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:26px;
  width:560px;
}
.box-320 {
  height:150px;
  left:350px;
  top:194px;
  width:560px;
}
.text-324 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:26px;
  width:560px;
}
.text-327 {
  color:#929292;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.box-321 {
  height:150px;
  left:350px;
  top:312px;
  width:560px;
}
.text-323 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-326 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:26px;
  width:560px;
}
.box-464 {
  height:150px;
  left:350px;
  top:436px;
  width:560px;
}
.text-465 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-466 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:26px;
  width:560px;
}
.box-328 {
  background-color:#FFFFFF;
  height:670px;
  left:0px;
  top:910px;
  width:960px;
}
.text-329 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.box-330 {
  height:432px;
  left:50px;
  top:140px;
  width:310px;
}
.box-334 {
  border-style:dotted;
  border-width:2px;
  height:88px;
  left:-2px;
  top:100px;
  width:310px;
}
.text-337 {
  color:#616161;
  height:432px;
  left:0px;
  top:0px;
  width:310px;
}
.table-331 {
  background-position:center center;
  border-radius:3px;
  float:none;
  height:290px;
  margin-left:390px;
  margin-top:140px;
  position:relative;
  text-align:center;
  width:520px;
}
.table-331, .table-331 > tbody > tr > td, .table-331 > thead > tr > td {
  border-color:#CCCCCC;
  border-width:0px;
}
.table-caption-335 {
  color:#242424;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:0px;
  text-align:right;
}
.table-header-338 {
  background-color:#F3A6B4;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:400;
  height:36px;
}
.table-row-cell-351 {
  text-align:center;
  width:130px;
}
.table-row-cell-352 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-353 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-354 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-355 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-356 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-345 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-357 {
  text-align:center;
}
.table-row-352 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-363 {
  text-align:center;
}
.table-row-359 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-369 {
  text-align:center;
}
.table-row-366 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-375 {
  text-align:center;
}
.table-row-373 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-381 {
  text-align:center;
}
.table-row-380 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-387 {
  text-align:center;
}
.table-row-cell-392 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  line-height:1.20;
}
.text-332 {
  color:#929292;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  height:24px;
  left:390px;
  text-align:center;
  top:524px;
  width:520px;
}
.cell-333 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:50px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-333 > a {
  line-height:36px;
}
.cell-336 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:20px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-336 > a {
  line-height:36px;
}
.tab-content-item-154 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-387 {
  background-color:#FFFFFF;
  height:270px;
  left:0px;
  top:0px;
  width:960px;
}
.text-388 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:170px;
  left:50px;
  top:50px;
  width:530px;
}
.floating-image-389 {
  background-image:url('/resource/project/photo_dm1.jpg');
  background-position:center center;
  background-size:contain;
  height:170px;
  left:610px;
  top:50px;
  width:300px;
}
.box-390 {
  height:640px;
  left:0px;
  top:270px;
  width:960px;
}
.floating-image-391 {
  background-image:url('/resource/project/photo_dm101.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:60px;
  width:260px;
}
.floating-image-392 {
  background-image:url('/resource/project/photo_dm102.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:240px;
  width:260px;
}
.floating-image-394 {
  background-image:url('/resource/project/photo_dm110.jpg');
  background-position:center center;
  background-size:contain;
  height:160px;
  left:50px;
  top:420px;
  width:260px;
}
.box-393 {
  height:150px;
  left:350px;
  top:66px;
  width:560px;
}
.text-396 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.text-399 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-395 {
  height:150px;
  left:350px;
  top:246px;
  width:560px;
}
.text-398 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.text-401 {
  color:#F3A6B4;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  top:0px;
  width:560px;
}
.box-397 {
  height:150px;
  left:350px;
  top:426px;
  width:560px;
}
.text-400 {
  color:#B6B6B6;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:700;
  left:1px;
  top:0px;
  width:560px;
}
.text-402 {
  color:#616161;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:120px;
  left:0px;
  top:30px;
  width:560px;
}
.box-403 {
  background-color:#FFFFFF;
  height:670px;
  left:0px;
  top:910px;
  width:960px;
}
.text-404 {
  color:#605F5F;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:52px;
  font-weight:700;
  height:79px;
  left:50px;
  text-align:left;
  top:36px;
  width:860px;
}
.box-405 {
  height:432px;
  left:50px;
  top:140px;
  width:310px;
}
.box-408 {
  border-style:dotted;
  border-width:2px;
  height:88px;
  left:-2px;
  top:100px;
  width:310px;
}
.text-412 {
  color:#616161;
  height:432px;
  left:0px;
  top:0px;
  width:310px;
}
.table-407, .table-407 > tbody > tr > td, .table-407 > thead > tr > td {
  border-color:#CCCCCC;
  border-width:0px;
}
.table-407 {
  background-position:center center;
  border-radius:3px;
  float:none;
  height:290px;
  margin-left:390px;
  margin-top:140px;
  position:relative;
  text-align:center;
  width:520px;
}
.table-caption-411 {
  color:#242424;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  height:0px;
  text-align:right;
}
.table-header-413 {
  background-color:#F3A6B4;
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:16px;
  font-weight:400;
  height:36px;
}
.table-row-cell-414 {
  text-align:center;
  width:130px;
}
.table-row-cell-415 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-416 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-417 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-418 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-cell-419 {
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  width:78px;
}
.table-row-420 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-421 {
  text-align:center;
}
.table-row-427 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-428 {
  text-align:center;
}
.table-row-434 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-435 {
  text-align:center;
}
.table-row-441 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-442 {
  text-align:center;
}
.table-row-448 {
  background-color:#FFFFFF;
  height:57px;
}
.table-row-cell-449 {
  text-align:center;
}
.table-row-455 {
  background-color:#EDEDED;
  height:57px;
}
.table-row-cell-456 {
  text-align:center;
}
.table-row-cell-461 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  line-height:1.20;
}
.text-406 {
  color:#929292;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  height:24px;
  left:390px;
  text-align:center;
  top:524px;
  width:520px;
}
.cell-410 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:50px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-410 > a {
  line-height:36px;
}
.cell-409 {
  background-color:#F3A6B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Nanum Gothic', sans-serif;
  font-weight:700;
  height:36px;
  margin-right:20px;
  margin-top:60px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-409 > a {
  line-height:36px;
}
.Footer {
  background-color:#F7F7F7;
  height:274px;
  position:relative;
  width:100%;
}
.CenterBox_27 {
  background-color:#242424;
}
.Text {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:71px;
  width:85px;
}
.Text_52 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:147px;
  width:85px;
}
.Text_53 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:420px;
  top:109px;
  width:85px;
}
.Text_54 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:301px;
  top:29px;
  width:154px;
}
.Text_55 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:71px;
  width:154px;
}
.Text_56 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:54px;
  top:229px;
  width:512px;
}
.Text_57 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:147px;
  width:154px;
}
.Text_58 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:73px;
  top:109px;
  width:154px;
}
.Text_59 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:20px;
  font-weight:400;
  height:30px;
  left:73px;
  top:29px;
  width:154px;
}
.Text_60 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:71px;
  width:85px;
}
.Text_61 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:147px;
  width:85px;
}
.Text_62 {
  color:#848484;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  left:301px;
  top:109px;
  width:85px;
}
.Box_63 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:211px;
  width:858px;
}
.Box_64 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:178px;
  width:223px;
}
.Box_65 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:140px;
  width:223px;
}
.Box_66 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:102px;
  width:223px;
}
.Box_67 {
  background-color:#848484;
  height:1px;
  left:279px;
  top:64px;
  width:223px;
}
.Box_68 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:178px;
  width:223px;
}
.Box_69 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:140px;
  width:223px;
}
.Box_70 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:102px;
  width:223px;
}
.Box_71 {
  background-color:#848484;
  height:1px;
  left:50px;
  top:64px;
  width:223px;
}
.FloatingImage_72 {
  background-image:url('/resource/project/hp_footer_icon_facebook.png');
  height:100px;
  left:701px;
  top:31px;
  width:100px;
}
.FloatingImage_73 {
  background-image:url('/resource/project/hp_footer_icon_youtube.png');
  height:100px;
  left:811px;
  top:31px;
  width:100px;
}