.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.cell {
  border-width:0px;
  height:40px;
  left:555px;
  line-height:40px;
  text-align:center;
  top:53px;
  width:100px;
}
.tabview-87 {
  border-width:1px;
  height:463px;
  left:9px;
  top:100px;
  width:716px;
}
.tab-header-88 {
  border-width:1px;
  font-size:14px;
  height:11.63%;
  left:0px;
  position:relative;
  top:0px;
}
.tab-header-item-90 {
  float:left;
  height:30px;
  margin-top:15px;
  position:relative;
  width:100px;
}
.cell-98 {
  border-width:1px;
  color:#969696;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:0px;
  width:100%;
}
.tab-header-active-item-100 {
  display:none;
}
.cell-102 {
  background-color:#B4B4B4;
  border-width:1px;
  color:#FFFFFF;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:0px;
  width:100%;
}
.tab-header-item-91 {
  float:left;
  height:30px;
  margin-top:15px;
  position:relative;
  width:100px;
}
.cell-99 {
  border-width:1px;
  color:#969696;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:0px;
  width:100%;
}
.tab-header-active-item-101 {
  display:none;
}
.cell-103 {
  background-color:#B4B4B4;
  color:#FFFFFF;
  height:30px;
  left:0px;
  line-height:30px;
  text-align:center;
  top:0px;
  width:100%;
}
.tab-content-89 {
  background-color:#F0F0F0;
  height:80%;
  left:0px;
  position:relative;
  top:0px;
}
.tab-content-item-92 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.table, .table > tbody > tr > td, .table > thead > tr > td {
  border-color:#CCCCCC;
  border-width:2px;
}
.table {
  background-position:center center;
  float:none;
  height:295px;
  margin-left:-1px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:632px;
}
.table-header {
  background-color:#EBEBEB;
}
.tab-content-item-93 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.table-84 {
  background-position:center center;
  float:none;
  height:295px;
  margin-left:-1px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:632px;
}
.table-84, .table-84 > tbody > tr > td, .table-84 > thead > tr > td {
  border-color:#CCCCCC;
  border-width:2px;
}
.table-header-75 {
  background-color:#EBEBEB;
}
.tab-content-item {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}