.iu-center-box {
  width:960px;
}
.iu-page {
  min-width:960px;
}
.page-content {
  background-color:#FFFFFF;
}
.section {
  height:720px;
}
.center-box-10 {
  border-width:1px;
  left:0px;
}
.pg-form {
  border-color:#000000;
  border-width:1px;
  height:435px;
  left:42px;
  top:66px;
  width:357px;
}
.pg-select {
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:511px;
  width:200px;
}
.pg-select-120 {
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:438px;
  width:200px;
}
.pg-select-121 {
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:473px;
  width:200px;
}
.cell-19 {
  border-width:2px;
  height:40px;
  left:268px;
  text-align:center;
  top:324px;
  width:100px;
}
.cell-19 > a {
  line-height:40px;
}